
<div class="container" id="restListPage">

    <h3 class="text-center page-heading">Restaurants List</h3>
    <div class="text-center" ng-show="restListCtrl.showLoader == true">
        LOADING.....
    </div>
    <div class="page-content">
        <div class="restaurants-list row">
            <div class="col-sm-6 col-md-4 col-lg-3 restaurant-item-outer" ng-repeat="rest in restListCtrl.restaurants">
                <div class="restaurant-item" ng-click="restListCtrl.onRestClick(rest)">
                    <div class="rest-image-container">
                        <img class="img image-responsive" ng-src="{{rest.image_url}}" alt="...">
                    </div>
                    <div class="rest-details-container">
                        <a class="heading-container text-center" ui-sref="home">
                            <h4>{{rest.name}}</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>